@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Source+Sans');

:root {
    --md-primary-fg-color:        #006a7f;
    --md-primary-fg-color--light: #8bbed1;
    --md-primary-fg-color--dark:  #1e5051;
}

p, div {
  font-family: 'Source Sans', sans-serif;
}

h1, h2, h3, li.book-part {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}